
/*IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "variables";
@import "servicios";
@import "nosotros";
@import "novedades";
@import "contacto";



body{
        font-family:$fontfamily;
        background: $color8;
}

/*====================HEADER==================*/
.header{
    background-color: $color4;
        padding: 20px;
    .header__logo{
        text-decoration: none;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #fff;
        .header__logo--modifier{
            text-decoration-line: none;
            padding: 10px;
            color: $color3;
            font-size: 30px;
            font-weight: 700;
            animation-duration: 10s;
            animation-name: aparecer;
        }
        @keyframes aparecer{
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
    }
}


/*===================NAV======================*/
.search{
    display: flex;
    .search__element{
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

.search{
    display: flex;
    .search__element--modifier{
        background-color: $color3;
        color: $color2;
    }
}

/*=============Main Index===============*/
.container{
    .card-principal{
        width: auto;
        background-color: $color5;
        color:$color2;
        font-size: 16px;
        font-weight: 400;
        .card-img-top{
            width: 100%;
            height: 100%;
            border: 1px solid $color4;
        }
    }
    .card-body{
        h2.card-title{
            font-size: 20px;
        }
    }
}

.row{
    .card-central{
        .card-header{
            width: 100%;
            background-color:$color4;
            color: #fff;
            border: 2px solid #CEE137;
            font-size: 25px;
            font-weight: 600;
        }
    }
    .card-body{
        h3.card-title{
            font-size: 25px;
        }
    }
}
.container{
    .card{
        width: auto;
        .card-img-top{
            width: 100%;
        }
    }
}


.cardCentral{
    .cardCentral__element{
        color: $color2;
    }
    .cardCentral__element--modifier{
        color: $color1;
        background-color: $colorvioleta;
    }
}


.final{
    text-align: center;
    margin-top: 1.5em;
    
    .far{
        padding-top: 1.5em;
        font-size: 40px;
        color:$colorvioleta;
        text-shadow: 1px 1px 1px black;
    }
    .final__element{
        font-size: 40px;
        font-weight: 800;
        color:$color3;
        text-shadow: 1.5px 1.5px 2px black;
    }
    .final__element--modifier{
        font-size: 20px;
        color: $color2;
    }
}

.imagen{
    .imagen__final{
        width: 100%;
        height: 700px;
    }
}



/*=================FOOTER====================*/

.footer{
    margin-bottom: 1.5em;
    .footer__element{
        margin: 1.5em;
        color: $color1;
    }
}

.footer{
    margin-bottom:1.5em ;
    .footer__element--modifier{
        margin: 1.5em;
        color: $color3;
    }
}

.text{
    padding: 1em;
    text-align: center;
    color: $color1;
    .text__element{
        padding: 0.5em;
        .text__element--modifier{
            color: $color3;
            text-decoration: none;
        }
    }
}


/*==========================RESPONSIVE==============================*/

@media (min-width: 320px) and (max-width:478.98px){
    
    .cardPrincipal{
        .cardPrincipal__element{
            font-size: 20px;
        }
        .cardPrincipal__element--modifier{
            font-size: 18px;
        }
        .cardPrincipal__element--modifier1{
            font-size: 18px;
        }
    }
    
    .cardTerceraImagen{
        .cardTerceraImagen__element{
            width: 90%;
            height: auto;
        }
    }

    .card.Tercera{
        .cardTercera__element{
            font-size: 20px;
        }
        .cardTercera__element--modifier{
            font-size: 18px;
        }
        .card.Tercera__element--modifier1{
            font-size: 18px;
        }
    }


    .cardSegunda1{
        width: 100%;
        .cardSegunda1__element{
            font-size: 20px;
        }
        .cardSegunda1__element--modifier{
            font-size: 18px;
        }
        .cardSegunda1__element--modifier1{
            font-size: 18px;
            word-spacing: normal;
        }
    }



    .imagen{
        width: 100%;
        .imagen__final{
            width: 100%;
            height: auto;
        }
    }
    
    .banner{
        width: 100%;
        height: auto;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .card{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $fondo1;
        .card__element{
            font-size: 20px;
            font-weight: 500;
            color: $color2;
        }
        .card__element--modifier{
            font-size: 18px;
            font-weight: 400;
            color: $color4;
            
        }
        .card__element--modifier1{
            justify-content: center;
            width: 80%;
            height: 30vh;
        }
        .card__element--modifier2{
            text-align: center;
            display: inline-block;
        }
    }

}

@media (min-width:480px) and (max-width:575.98px){
    .cardPrincipal{
        .cardPrincipal__element{
            font-size: 20px;
        }
        .cardPrincipal__element--modifier{
            font-size: 18px;
        }
        .cardPrincipal__element--modifier1{
            font-size: 18px;
        }
    }
    
    .cardTerceraImagen{
        .cardTerceraImagen__element{
            width: 90%;
        }
    }

    .card.Tercera{
        .cardTercera__element{
            font-size: 20px;
        }
        .cardTercera__element--modifier{
            font-size: 18px;
        }
        .card.Tercera__element--modifier1{
            font-size: 18px;
        }
    }



    .cardSegunda1{
        width: 100%;
        .cardSegunda1__element{
            font-size: 20px;
        }
        .cardSegunda1__element--modifier{
            font-size: 18px;
        }
        .cardSegunda1__element--modifier1{
            font-size: 18px;
            word-spacing: normal;
        }
    }


    .imagen{
        width: 100%;
        .imagen__final{
            width: 100%;
            height: auto;
        }
    }

    .banner{
        width: 100%;
        height: auto;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .card{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $fondo1;
        .card__element{
            font-size: 20px;
            font-weight: 500;
            color: $color2;
        }
        .card__element--modifier{
            font-size: 18px;
            font-weight: 400;
            color: $color4;
            
        }
        .card__element--modifier1{
            justify-content: center;
            width: 80%;
            height: 30vh;
        }
        .card__element--modifier2{
            text-align: center;
            display: inline-block;
        }
    }
}




@media (min-width:576px) and (max-width:767.98px){

    .cardPrincipal{
        .cardPrincipal__element{
            font-size: 20px;
        }
        .cardPrincipal__element--modifier{
            font-size: 18px;
        }
        .cardPrincipal__element--modifier1{
            font-size: 18px;
        }
    }
    
    .cardTerceraImagen{
        .cardTerceraImagen__element{
            width: 90%;
            height: auto;
        }
    }

    .card.Tercera{
        .cardTercera__element{
            font-size: 20px;
        }
        .cardTercera__element--modifier{
            font-size: 18px;
        }
        .card.Tercera__element--modifier1{
            font-size: 18px;
        }
    }


    .cardSegunda1{
        width: 100%;
        .cardSegunda1__element{
            font-size: 20px;
        }
        .cardSegunda1__element--modifier{
            font-size: 18px;
        }
        .cardSegunda1__element--modifier1{
            font-size: 18px;
            word-spacing: normal;
        }
    }



    .imagen{
        width: 100%;
        .imagen__final{
            width: 100%;
            height: auto;
        }
    }
    .banner{
        width: 100%;
        height: auto;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .card{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $fondo1;
        .card__element{
            font-size: 20px;
            font-weight: 500;
            color: $color2;
        }
        .card__element--modifier{
            font-size: 18px;
            font-weight: 400;
            color: $color4;
            
        }
        .card__element--modifier1{
            justify-content: center;
            width: 80%;
            height: 30vh;
        }
        .card__element--modifier2{
            text-align: center;
            display: inline-block;
        }
    }

}

@media (min-width:768px) and (max-width:991.98px){
    .banner{
        width: 100%;
        height: 70vh;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .card{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $fondo1;
        .card__element{
            font-size: 20px;
            font-weight: 500;
            color: $color2;
        }
        .card__element--modifier{
            font-size: 18px;
            font-weight: 400;
            color: $color4;
            
        }
        .card__element--modifier1{
            justify-content: center;
            width: 80%;
            height: 30vh;
        }
        .card__element--modifier2{
            text-align: center;
            display: inline-block;
        }
    }
}

@media (min-width:992px) and (max-width:1199.98px){
    .banner{
        width: 100%;
        height: auto;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .card{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $fondo1;
        .card__element{
            font-size: 20px;
            font-weight: 500;
            color: $color2;
        }
        .card__element--modifier{
            font-size: 18px;
            font-weight: 400;
            color: $color4;
            
        }
        .card__element--modifier1{
            justify-content: center;
            width: 80%;
            height: 30vh;
        }
        .card__element--modifier2{
            text-align: center;
            display: inline-block;
        }
    }
}